@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  padding: 0;
}


/* Thumbnail Slider css */
.mini-swiper .swiper-slide {
  opacity: 0.7;
  transition: 0.3s ease;
}

.mini-swiper .swiper-slide:hover {
  opacity: 1;
}
